* {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}


/* Header */

header {
    height: 55px;
    width: 100%;
    display: flex;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    position: fixed;
}

.logo-header {
    background-color: #FFFFFF;
    width: 10%;
}

.logo-header img {
    background-color: #FFFFFF;
    width: 100%;
}

.itens-header {
    width: 70%;
    height: 100%;
    display: flex;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
}

.icones-header {
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.icones-header img {
    background-color: #FFFFFF;
}

.pesquisa-header {
    margin-left: 10%;
    width: 25%;
    height: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #FAFAFA;
    align-self: center;
}

.pesquisa-header input {
    width: 100%;
    height: 80%;
    background-color: #FAFAFA;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    padding-left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 85%;
    line-height: 50%;
    background: url(_assets/lupa.png) no-repeat scroll 30% 50%;
    padding-left: 37%;
}


/* Feed */

main {
    height: 100%;
    display: flex;
    justify-content: center;
}

.itens-feed {
    width: 70%;
    margin-top: 55px;
}

.perfis {
    height: auto;
    display: flex;
    align-items: center;
}

.stories {
    width: 60%;
    height: auto;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.perfil-story {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 12%;
    background-color: #FFFFFF;
}

.perfil-story img {
    background-color: #FFFFFF;
    width: 100%;
}

.nome-perfil-story {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;
}

.perfil-usuario {
    height: 10%;
    width: 25%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 13%;
}

.imagem-perfil-usuario {
    height: 100%;
    display: flex;
    align-items: center;
}

.imagem-perfil-usuario img {
    width: 100%;
}

.nome-usuario {
    width: 50%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nome-usuario p {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.publicar {
    width: 60%;
    height: 180px;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
}

.usuario-publicar {
    height: 50%;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

.usuario-publicar img {
    height: 50%;
    background-color: #FFFFFF;
}

.usuario-publicar h3 {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
    margin-left: 3%;
    background-color: #FFFFFF;
}

.conteudo-publicar {
    display: flex;
    justify-content: space-between;
    align-items: top;
    height: 50%;
    background-color: #FFFFFF;
}

.descricao-publicar {
    height: 40%;
    width: 40%;
    background-color: #FFFFFF;
}

.descricao-publicar input {
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #ABABAB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 85%;
    font-weight: 600;
    line-height: 50%;
    padding-left: 12%;
    border-radius: 10px;
}

.label {
    background-color: #D1D1D1;
    width: 30%;
    height: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 85%;
    font-weight: 600;
    line-height: 250%;
    display: flex;
    justify-content: center;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #7D7D7D;
    margin-left: 5%;
    border-radius: 10px;
}

.input-publicar {
    display: none;
}

.botao-postar {
    background-color: #FFFFFF;
    width: 20%;
    height: 42%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-postar button {
    background-color: #2686CC;
    font-size: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    text-decoration: none;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 85%;
    font-weight: 600;
    border-radius: 10px;
}

.post {
    width: 66%;
    height: auto;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    background-color: #FFFFFF;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
}

.dono-do-post {
    height: 12%;
    width: 90%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.dono-do-post img {
    height: 70%;
    width: auto;
    background-color: #FFFFFF;
}

.foto-do-post {
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
}

.foto-do-post img {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}

.info-donoPost {
    height: 50%;
    width: 40%;
    margin-left: 3%;
    background-color: #FFFFFF;
}

.nome-donoPost {
    height: 50%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 90%;
    background-color: #FFFFFF;
}

.localizacao-donoPost {
    height: 50%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 90%;
    background-color: #FFFFFF;
}

.feedback-post {
    width: 94%;
    height: auto;
    background-color: #FFFFFF;
    padding-left: 3%;
    padding-right: 3%;
}

.curtir-comentar {
    margin-top: 3%;
    height: 15%;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

.curtir-comentar img {
    height: 80%;
    width: auto;
    margin-right: 3%;
    background-color: #FFFFFF;
}

.curtir-comentar input {
    background-color: #FFFFFF;
    width: 45%;
    height: 100%;
    border: none;
    border-bottom: solid 1px #dbdbdb;
    color: #ABABAB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 85%;
    font-weight: 600;
    line-height: 50%;
}

.contagem-curtidas {
    margin-top: 1%;
    height: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 90%;
    background-color: #FFFFFF;
}

.comentario {
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

.dono-comentario {
    background-color: #FFFFFF;
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 90%;
    background-color: #FFFFFF;
}

.conteudo-comentario {
    background-color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 90%;
    background-color: #FFFFFF;
    margin-left: 3%;
}

footer {
    width: 100%;
    height: 200px;
    bottom: 0;
}