    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    body {
        width: 1200px;
        height: auto;
        background-color: #fafafa;
    }
    
    .container {
        background: #FFFFFF;
        border: 1px solid #F1F1F1;
        box-sizing: border-box;
        margin-top: 120px;
        margin-left: 520px;
        width: 342px;
        height: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .container img {
        width: 165px;
        height: 63px;
        display: flex;
        margin-top: 33px;
    }
    
    .container_formulario form div input {
        margin-bottom: 10px;
        width: 267px;
        height: 35px;
        background-color: #FAFAFA;
        border: 1px solid #DCDCDC;
        box-sizing: border-box;
        border-radius: 2px;
        color: #afafaf;
    }
    
    input text {
        margin-left: 12px;
    }
    
    .container_formulario {
        width: 342px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .botao {
        justify-content: center;
        display: flex;
        align-items: center;
        border-radius: 2px;
        background-color: #2686CC;
        width: 267px;
        height: 30px;
        border: none;
    }
    
    .botao a {
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
        color: white;
    }
    
    .forgot_password {
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .forgot_password a {
        margin-bottom: 40px;
        text-decoration: none;
        color: #2686CC;
        font-size: 14px;
    }
    
    .divisao_dupla {
        margin-bottom: 40px;
        width: 342px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    hr {
        border: 1px solid #CBCBCB;
        margin: 0 16px 0 16px;
        width: 109px;
        color: #CBCBCB;
    }
    
    h3 {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
        color: #909090;
    }
    
    .cadastro {
        margin-top: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-left: 520px;
        font-weight: 400;
        height: 75px;
        width: 342px;
        background: #FFFFFF;
        border: 1px solid #F4F4F4;
        box-sizing: border-box;
    }
    
    .cadastro a {
        color: #2686CC;
        text-decoration: none;
        margin-left: 3px;
        font-weight: 600;
    }
    
    .obtenha_aplicativo {
        margin-top: 21px;
        width: 342px;
        margin-left: 520px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .lojas {
        align-items: center;
        justify-content: center;
        margin-top: 21px;
        width: 342px;
        height: 75px;
        display: flex;
        margin-left: 520px;
    }
    
    .lojas img {
        margin-left: 5px;
    }