@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap%27');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: auto;
    height: auto;
    background-color: #fafafa;
}

header {
    height: 55px;
    display: flex;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
}

.logo-header {
    background-color: #FFFFFF;
    width: 10%;
}

.logo-header img {
    background-color: #FFFFFF;
    width: 100%;
}

.itens-header {
    width: 70%;
    height: 100%;
    display: flex;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
}

.icones-header {
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.icones-header img {
    background-color: #FFFFFF;
}

.linkParaEditarPerfil {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14%;
}

.linkParaEditarPerfil img {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pesquisa-header {
    margin-left: 10%;
    width: 25%;
    height: 30px;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #FAFAFA;
    align-self: center;
}

.pesquisa-header input {
    width: 100%;
    height: 80%;
    background-color: #FAFAFA;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    padding-left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 120%;
    line-height: 50%;
    background: url(../img/lupa.png) no-repeat scroll 30% 50%;
    padding-left: 37%;
}

main {
    margin-top: 30px;
}

.main-editar {
    display: flex;
    background-color: white;
    border: 1px solid var(--cinza);
}

.esquerdo {
    width: 30%;
    height: 60px;
    display: flex;
    align-items: center;
    border-left: 2px solid black;
}

.direito {
    width: 75%;
}

.img-perfil-form {
    height: 50px;
    border-radius: 50px;
}

.linha-form {
    width: 80%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.conjunto {
    margin-bottom: 30px;
}

.username-primeiro {
    width: 354px;
    font-size: 18px;
    font-weight: 600;
}

.imagemPerfil {
    opacity: 0;
    width: 0.01px;
    height: 0.01px;
}

label[for="imagemPerfil"] {
    color: var(--azul);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.labels-form {
    font-size: 14px;
    font-weight: 600;
}

.texto-conteudo {
    width: 354px;
    color: var(--cinza-escuro);
    font-size: 12px;
}

.info-pessoais {
    font-weight: 600;
}

.desativar-conta {
    color: var(--azul);
    font-weight: 600;
    margin-left: 76.5px;
    cursor: pointer;
    text-decoration: none;
}

.input-editar {
    height: 30px;
    width: 354px;
    background-color: white;
    margin-left: 20px;
}

.submit-editar {
    height: 30px;
    width: 66px;
    font-size: 12px;
    cursor: pointer;
}

.direito form {
    margin-top: 30px;
    margin-bottom: 50px;
}

.direito-linha {
    margin-left: 20px;
}

.esquerdo h1 {
    font-size: 15px;
    font-weight: 600;
    margin-left: 30px;
}